/* #wordContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: 2px solid black;
    padding: 2%;
     width: 55%;
    height: 600px
 
 }


#wordContainer div {
    padding-top:20px ;
    width: 17%;
    height: 65px; 
    box-sizing: border-box;
     border: 3px solid black;
     background-color: aquamarine;
   
 }
 
 
p {
    margin: 0;
    text-align: center; 
} */





/* For experiment */
#dragg-div {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: brown;

}

.main-container {
    border: 2px solid purple;
    display: flex;
    justify-content: space-evenly;
    padding: 5%;
}

.category-div {
    width: 15%;
    height: 300px;
    border: 2px solid black;
   text-align: center; 
}